<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Project Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome to the Bank's Analytical Dashboard</h1>
        <p>This platform is designed to assist banking professionals in making informed decisions by leveraging
            predictive analytics. Explore our modules to determine the likelihood of loan conversions, identify
            potential fraudulent transactions, and predict customer retention. These tools aim to enhance operational
            efficiency and risk management within your banking environment.</p>
        <div class="module-links">
            <a href="/loan_conversion" class="module-link">Loan Conversion Module</a>
            <a href="/fraud_classification" class="module-link">Fraud Classification Module</a>
            <a href="/customer_churn" class="module-link">Customer Churn Module</a>
        </div>
    </div>
</body>

</html>